<form>
  <!-- step 1 -->
  <div *ngIf="step == 1">
    <h4></h4>
    <div class="form-group">
      <label for="exempleInputEmail">Votre nom : </label>
      <input
        type="text"
        class="form-control"
        id="exempleInputEmail"
        aria-describedby="emailHelp"
      />
    </div>
    <!--  -->
    <div>
      <div class="form-group">
        <label for="exempleInputEmail">Votre nom : </label>
        <input
          type="text"
          class="form-control"
          id="exempleInputEmail"
          aria-describedby="emailHelp"
        />
      </div>
    </div>
  </div>
  <!-- step 2 -->
  <div *ngIf="step == 2">
    <h4></h4>
    <div class="form-group">
      <label for="exempleInputEmail">Votre nom : </label>
      <input
        type="text"
        class="form-control"
        id="exempleInputEmail"
        aria-describedby="emailHelp"
      />
    </div>
    <!--  -->
    <div>
      <div class="form-group">
        <label for="exempleInputEmail">Votre nom : </label>
        <input
          type="text"
          class="form-control"
          id="exempleInputEmail"
          aria-describedby="emailHelp"
        />
      </div>
    </div>
  </div>
  <!-- step 3 -->
  <div *ngIf="step == 3">
    <h4></h4>
    <div class="form-group">
      <label for="exempleInputEmail">Votre nom : </label>
      <input
        type="text"
        class="form-control"
        id="exempleInputEmail"
        aria-describedby="emailHelp"
      />
    </div>
    <!--  -->
    <div>
      <div class="form-group">
        <label for="exempleInputEmail">Votre nom : </label>
        <input
          type="text"
          class="form-control"
          id="exempleInputEmail"
          aria-describedby="emailHelp"
        />
      </div>
    </div>
  </div>
  <!--  -->
</form>
